.main {
  padding: 1rem;
}

.hero {
  height: 70vh;
}

.main h1 {
  font-size: 6rem;
  text-align: center;
  margin-top: 5rem;
}

.hero h3 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5rem;
}